   
   
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
   
   :root{

    --primery-color:rgb(3, 2, 39);
    --neon-glow: rgba(3, 2, 39, 0.7); /* mesmo tom, com transparência */
   }
   
   *{
        font-family: Arial, sans-serif;
        box-sizing: border-box;
        outline: none;
        margin: 0;
        padding: 0;
       
     }


     body{
        background: var(--primery-color);
        font-family:'open sans', sans-serif;
        color: rgb(241, 231, 231);
        font-size: 1.3em;
        line-height: 1.5em;

     }
     .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 640px;
        height: auto;
        margin: 100px auto;
        padding: 100px;
        background: #cbd3dc61 ;
        border-radius: 10px ;
        text-align: center;
     }


     form input, form label,form button{
       display: block;
       width: 100%;
       margin-bottom: 10px;
       border-radius: 10px;
     }

     form input{
        font-size:24px;
        height: 50px;
        padding: 0 10px;
     }
     form button{
        font-size: 24px;
        height: 50px;
        background: #23747e;
        color: antiquewhite;
        
        border: none;
        cursor: pointer;
        margin-top: 30px;
        border-radius: 10px;
     }
        form button:hover{
            background: var(--primery-color);
        }
  form button:active{
            background: #879da0;
        }
     